*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: white;
}

.banner{
    display: flex;
    align-items: center;
}

.banner h1{
    font-size: 30px;
}

.enlaces{
    padding: 10px;
    margin: 5px;
}

.enlaces a{
    color: white;
    padding: 4px;
    font-size: 16px;
    text-decoration: none;
}

.enlaces a:hover{
    color: yellow;
}

nav{
    padding: 8px;
    background-color: #f0f0f0;
    overflow-x: auto;
}

.nave{
    display: flex;
}

.nave h3{
    margin-right: 50px;
}

.nave a{
    color: black;
    text-decoration: none;
}

.nave a:hover{
    color: rgb(248, 0, 0);
}

section{
    background-color: white;
    overflow-x: auto;
}

.titulo{
    padding: 10px;
    text-align: center;
    background-color: rgb(5, 5, 5);
    color: white;
    font-size: 10px;
}

.peliculas{
    display: flex;
}

.peliculas img{
    margin: 5px;
    cursor: pointer;
    width: 160px;
}

.peliculas img:hover{
    transform: scale(1.1);
}

